@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes cardFade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-card {
  animation: cardFade 0.4s ease forwards;
}
